@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
    margin: 20px 60px;
}


/* HEADER */

header {
    margin: auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: black;
}


.logo {
    text-align: center;
    padding: 5px;
    letter-spacing: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: rgb(90, 118, 190);
    transition: text-decoration 0.5;
}


.logo--header {
    font-size: 70px;
    color: rgb(235, 234, 231);
}

.navbar-nav a {
    margin: 0px 60px;
}

/* FOOTER */

footer {
    margin: auto;
    width: 90%;
    left: 70px;
}

.logo--footer {
    padding-left: 10px;
    text-decoration: none;
    text-align: left;
    font-size: 40px;
    color: rgb(235, 234, 231);
}


/* HOME */

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home__noticia-main {
    margin: 5px 30px 5px 0px;
    overflow: hidden;
    border: 1px solid rgb(185, 196, 224);
    background-color: rgb(239, 243, 252);
    transition: background-color 0.5s;
}

.home__noticia-main img {
    margin: 40px 10px;
    width: 95%;
}

.home__noticia-main h3 {
    margin: 0px 10px;
    font-size: large;
}

.home__noticia-main p {
    margin: 10px;
    height: 80%;
    font-size: 120%;
    overflow: hidden;
}

.home__noticias-secundarias {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    font-size: 80%;
}

.noticia-secundaria {
    margin: 5px;
    overflow: hidden;
    border: 1px solid rgb(185, 196, 224);
    background-color: rgb(239, 243, 252);
    transition: background-color 0.5s;
}

.noticia-secundaria--home {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticia-secundaria__img--home {
    padding: 10px;
    width: 50%;
}

.noticia-secundaria__cuerpo--home {
    width: 60%;
    height: 180px;
    font-size: 150%;
    overflow: hidden;
}

.btn-mas-noticias {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px 20px;
    width: 40%;
    font-size: 20px;
    transition: border-radius 0.5s;
}


/* MÁS NOTICIAS */

.mas-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.noticia-secundaria--mas-noticias {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 10px;
}

.noticia-secundaria__cuerpo {
    margin: 10px 0px;
    padding: 10px 20px;
    height: 70%;
    overflow: hidden;
    font-size: 100%;
}

.noticia-secundaria__img {
    padding-left: 10px;
    max-width: 100%;
}


/* CATEGORÍAS */



/* NOSOTROS */

.nosotros {
    display: grid;
    grid-template-columns: 1fr 2fr;
}


/* CONTACTO */

.contacto__datos {
    font-size: 180%;
}

.contacto__form {
    font-size: 150%;
}



/* RESPONSIVE */



@media screen and (max-width: 1024px) {

    .navbar-nav a {
        margin: 0px 30px;
    }    

    /* HOME */
    .home {
        margin: 10px;
    }

    .home__noticia-main {
        margin: 5px 10px 5px 0px;
    }

    .home__noticia-main img {
        margin: 10px;
    }

    .home__noticia-main p {
        font-size: 110%;
        height: 80%;
    }

    .home__noticias-secundarias {
        grid-template-rows: 2fr 2fr 2fr 0.5fr;
    }

    .noticia-secundaria__cuerpo--home {
        height: 110px;
        font-size: 15px;
    }

    .btn-mas-noticias {
        height: 40px;
        font-size: 15px;
    }

    /* MÁS NOTICIAS */

    .mas-noticias {
        height: 100vh;
    }

    .noticia-secundaria--mas-noticias {
        display: flex;
        margin: 5px 10px;
        height: 90%;
    }

    .noticia-secundaria__img {
        max-width: 130px;
    }

    .noticia-secundaria__cuerpo {
        margin: 0px;
        padding: 0px 20px;
        height: 60%;
        font-size: 80%;
    }
}


@media screen and (max-width: 768px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    main {
        margin: 0px 0px;
    }

    header {
        display: grid;
        width: 100%;
    }

    .logo {
        margin: 10px;
        height: 40px;
        font-size: x-large;
        letter-spacing: 10px;
    }

    .logo--header {
        height: 45px;
        font-size: 30px;
    }

    .navbar-nav a {
        margin: 0px 10px;
    }
    
    /* HOME */

    .home {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 15px;
        font-size: smaller;
    }

    .home__noticia-main {
        margin: 2px;
        height: 70%;
    }

    .home__noticia-main img {
        max-width: 100%;
    }

    .home__noticias-secundarias__cuerpo--home {
        height: 60%;
    }

    /* MÁS NOTICIAS */

    .mas-noticias {
        display: flex;
        flex-direction: column;
    }

    .noticia-secundaria--mas-noticias {
        display: flex;
        margin: 5px 10px;
    }

    .noticia-secundaria__img {
        max-width: 130px;
    }

    .noticia-secundaria__cuerpo {
        font-size: 80%;
    }

}

@media screen and (max-width: 480px) {

    * {
        margin: 0px;
        padding: 0px;
    }

    /* HOME */

    .btn-mas-noticias {
        padding: 10px 20px;
        height: 30px;
    }

    /* MÁS NOTICIAS */

    .noticia-secundaria__img {
        max-width: 40%;
    }

}

@media screen and (max-width: 320px) {

    header {
        display: flex;
        flex-direction: column;
    }

    .logo--header {
        letter-spacing: 3px;
    }

    /* HOME */

    .home__noticias-secundarias {
        display: flex;
        flex-direction: column;
    }

    .noticia-secundaria--home {
        height: 120px;
    }

    .noticia-secundaria__img--home {
        width: 100%;
    }

    .noticia-secundaria__cuerpo--home {
        width: 50%;
        height: 95px;
        font-size: 110%;
    }

    .btn-mas-noticias {
        width: 50%;
        height: 20px;
    }

}





/* TRANSICIONES */

.logo:hover {
    text-decoration: underline;
}

.home__noticia-main:hover {
    background-color: rgb(209, 218, 240);
}

.noticia-secundaria:hover {
    background-color: rgb(209, 218, 240);
}

.btn-mas-noticias:hover {
    border-width: 3px;
}