$background-color-strong: rgb(90, 118, 190);
$background-color-middle: rgb(209, 218, 240);
$background-color-light: rgb(239, 243, 252);
$logo-font-color: rgb(235, 234, 231);
$border-color: rgb(185, 196, 224);